<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logeo-app">
  <template>
    <style>
       *{
            margin: 0px;
            padding: 0px;
        }
        :host {
            display: block;
            text-align: center;
        }
        paper-card {
            margin: 20px;
            width: 400px;
            padding: 5px;
            background: rgb(243, 243, 243);
            text-align: left;
        }
        paper-input {
            padding: 5px 10px;
            text-align: left;
        }
        paper-button {
            margin: 15px;
            padding: 7px 0px;
            background-color: rgb(93, 128, 241);
        }
    </style>
    <iron-ajax
      auto
      url="https://artichoke.platform.bbva.com/TechArchitecture/co/grantingTicket/V02"
      handle-as=json
      last-response={{data}}></iron-ajax>
    <paper-card heading='Inicio de sesión'>
        <paper-input label="Usuario" value={{usuario}}></paper-input>
        <paper-input label="Contraseña" value={{clave}}></paper-input>
        <paper-button on-click="validarAcceso" raised>Log in</paper-button>
    </paper-card>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogeoApp extends Polymer.Element {
      static get is() { return 'logeo-app'; }
      static get properties() {
        return {
          usuario: {
            type: String,
            value: ''
          },
          clave: {
            type: String,
            value: ''
          },
          acceso: {
            type: Boolean,
            value: false
          }
        };
      }
      validarAcceso() {
          console.log(this.usuario);
      }
    }

    window.customElements.define(LogeoApp.is, LogeoApp);
  </script>
</dom-module>